<div id="category-list">
  <ul class="menu">
    <li class="current-menu-item">
      <a href="http://33pu.net/">全部</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/tee">T恤</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/shirt">衬衫</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/shoes">潮鞋</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/pants">休闲裤</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/polo">Polo衫</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/bags">潮包</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/sweater">针织衫</a>
    </li>
    <li class="">
      <a href="http://33pu.net/cat/downcoat">羽绒服</a>
    </li>
  </ul>
</div>