<form class="ui form segment" ng-controller="LoginCtrl" name="loginForm" novalidate>
  <div class="field">
    <label>Username</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="Username" ng-model="user.username" name="username" minlength="4" required>
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <div class="ui left labeled icon input">
      <input type="password" ng-model="user.password">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="ui error message" ng-show="loginForm.username.$error.required">
    <div class="header">We noticed some issues</div>
  </div>
  <div>
    <span ng-show="loginForm.username.$error.required">Username is required.</span>
  </div>
  <div class="ui blue submit button" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</div>
</form>